html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: hsl(182, 48%, 75%);
}

header {
  width: 100%;
  height: 60px;
  background-color: rgba(151, 140, 140, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

header ul{
  list-style: none;
  margin: 0;
  margin-right: 100px;
}

header li{
  text-align: right;
  float: left;
  font-size: 20px;
  padding: 0 20px;
  line-height: 60px;
  opacity: 0.9;
}

a{
  text-decoration: none;
}

.works li:hover{
  text-decoration:underline;
}

header li:hover{
  opacity: 0.5;
}

.header {
  width: 100%;
  height: 60px;
}

.contents {
  width: 80%;
  margin: 0 auto;
}

.subtitle {
  font-size: 40px;
  text-align: center;
}

.content {
  padding-top: 30px;
  width: 70%;
  margin: 0 auto;
}

.career-body {
}

.career-body img{
  width: 200px;
  height: 200px
  float: left;
  border-radius: 50%
}

.career-body p {
  width: 68%;
  float: right;
}

.works img{
  width: 500px;
  height: 250px
}

.work {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}